
.uppercase {
    text-transform: uppercase;
}
.store {
        background-color: #FEF7E9;
    }
.text-info {
    bottom: 0;
    left: 0;
    .infoHr {
        width: 10%;
        height: 2px;
        background-color: black;
        display: block;
        margin: auto;
    }
}
